<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Appointment details:</h1>
<p>Doctor: <%= @appointment.doctor.name %></p>
<p>Doctor Address: <%= @appointment.doctor.address %></p>
<p>Patient: <%= @appointment.patient.name %></p>
<p>Time and Date: <%= @appointment.date %></p>
</body>
</html>